body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-section{
    display: flex;
}
.half-width {
    float: left;
    padding-left: 10%;
    
    padding-top: 10%;
}
.half-width-2{
   
    padding-left: 10%;
    padding-right: 5%;
    
    
}
.half-width-2 img{
    width: 70%;
}

.headline-side{
    font-family: 'Yeseva One', cursive;
    font-size: 32px;
    font-weight: 400;
    width: 100%;
    border-left: 5px solid #FF5959;
    border-radius: 5px;
    padding-left: 2%;
    line-height: 100%;
}
h1{
    color: #333333;
}
.colored-title{
    color: #FFAD5A;
}
a{
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    
}
p{
    margin-top: 10%;
    margin-bottom: 10%;
}
.msn-title{
    font-size: 40px;
    color: #13103A;
    text-align: center;
    font-weight: 800;
}
.mission-section{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.dev-section{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 7%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
}
.msn-box{
    padding: 2%;
    margin: 10px;
    border-radius: 25px;
    background-color: hsla(185, 36%, 48%,0.1);
    
    

}
.msn-box img{
    width: 30%;
}
.vission{
    background-color: hsla(0, 100%, 67%,0.1);
}
.goal{
    background-color: #FFF4D6;
}

.dev-img img{
    width: 80%;
}
.dev-text h1{
    font-size: 35px;
    line-height: 80%;
    
}
.com-img img{
    width: 80%;
    padding-left: 25%;
}
#com-bg{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
}
.contact{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 7%;
}
.contac-icon img{
    width: 100%;
}




.footer{
    height: 177px;
    background-color:#0B0D17 ;
    text-align: center;
}
.footer h1{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 40px;
    padding-top: 3%;
    font-weight: 400;
    line-height: 50%;
}
.footer h3{
    color:white;
    font-weight: 300;
    font-size: 15px;
}
.col-foot{
    color: #FF5959;
}



.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("images/illustrators/contact-us.png") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #FF5959;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #FF5959;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #0B0D17;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}